<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/picnic">
    <title>Deadlines</title>
</head>
<body>
    <nav>
        <a href="#" class="brand">
            <span>Deadlines @ ILLC CFPs</span>
          </a>
        <div class="menu">
            <a class="button" href="./deadlines.ics">Download iCalendar file</a>
        </div>
    </nav>
    <table style="margin-top: 50px">
        <thead>
            <th>Deadline</th>
            <th>Start</th>
            <th>End</th>
            <th>Title</th>
            <th>Description</th>
        </thead>
        <tbody>
            {{#events}}
                <tr>
                    <td>{{ _deadline }}</td>
                    <td>{{ _start }}</td>
                    <td>{{ _end }}</td>
                    <td>{{ title }}</td>
                    <td>{{ description }}</td>
                </tr>
            {{/events}}
        </tbody>
    </table>
</body>
</html>